{% extends 'core/base.html' %}

{% block content %}

<div class="p-10 lg:p-20 text-center">
    <h1 class="text-3xl lg:text-6xl text-white">Log in</h1>
</div>

<form method="post" action="." class="lg:w-1/4 px-4 mx-auto">
    {% csrf_token %}
    <div class="mb-5">
        <label class="text-white">Username</label>
        <input type="text" name="username" class="w-full mt-2 px-4 py-2 rounded-xl">
    </div>
    <div class="mb-5">
        <label for="id_password" class="text-white">Password</label>
        <input type="password" name="password" id="id_password" class="w-full mt-2 px-4 py-2 rounded-xl">
    </div>
    <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded-xl">Log in</button>
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="mb-5 p-4 rounded-xl bg-red-300 text-white">
                    <p>{{error|escape}}</p>
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}
</form>

{% endblock %}
